extends layout
block content
    - console.log(data)
    .main-content 
    h1 All Admin 
    table(border=1)
        for item in data 
            tr  
                td #{item.home_id}
                td 
                    a(href='/Home/' + item.home_id) #{item.home_name}
