title Dashboard
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style.
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  #table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
  table center {
  margin-left: auto;
  margin-right: auto;
  }
  #table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
  }
  #table tr:nth-child(even){background-color: #f2f2f2;}
  #table tr:hover {background-color: #ddd;}
  #table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008B8B;
  color: white;
  }
// Top container
.w3-bar.w3-top.w3-black.w3-large(style='z-index:4')
  a.w3-bar-item.w3-button.w3-wide(href='login') Homifye
// Sidebar/menu
nav#mySidebar.w3-sidebar.w3-collapse.w3-black.w3-animate-left(style='z-index:3;width:300px;')
  br
  .w3-container.w3-row
    hr
    .w3-bar-block
      a.w3-bar-item.w3-button.w3-padding-16.w3-hide-large.w3-dark-grey.w3-hover-black(href='#' onclick='w3_close()' title='close menu')
        i.fa.fa-remove.fa-fw
        |  Close Menu
      a.w3-bar-item.w3-button.w3-padding.w3-blue(href='index.pug')
        i.fa.fa-bank.fa-fw
        |  Dashboard
      a.w3-bar-item.w3-button.w3-padding(href='homes-details')
        i.fa.fa-home.fa-fw
        |  Home Details
      a.w3-bar-item.w3-button.w3-padding(href='homes-details')
        i.fa.fa-users.fa-fw
        |  Add New Member
      a.w3-bar-item.w3-button.w3-padding(href='add-member')
        i.fa.fa-edit.fa-fw
        | Tasks Details
      a.w3-bar-item.w3-button.w3-padding(href='dashboard')
        i.fa.fa-eye.fa-fw
        |  Chart Data
// Overlay effect when opening sidebar on small screens
#myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()' style='cursor:pointer' title='close side menu')
// !PAGE CONTENT!
.w3-main(style='margin-left:300px;margin-top:43px;')
  // Header
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-dashboard
        |  Dashboard
  .w3-row-padding.w3-margin-bottom
    .w3-quarter
      .w3-container.w3-red.w3-padding-16
        .w3-left
          i.fa.fa-home.w3-xxlarge
        .w3-right
          h3 2
        .w3-clear
        a(href='homes-details')
          h4 Added Homes
    .w3-quarter
      .w3-container.w3-blue.w3-padding-16
        .w3-left
          i.fa.fa-hourglass-half.w3-xxlarge
        .w3-right
          h3 0
        .w3-clear
        a(href='homes-details')
          h4 Pending Tasks
    .w3-quarter
      .w3-container.w3-teal.w3-padding-16
        .w3-left
          i.fa.fa-thumbs-up.w3-xxlarge
        .w3-right
          h3 0
        .w3-clear
        a(href='#')
          h4 Finished Tasks
    .w3-quarter
      .w3-container.w3-orange.w3-text-white.w3-padding-16
        .w3-left
          i.fa.fa-gbp.w3-xxlarge
        .w3-right
          h3 0
        .w3-clear
        a(href='#')
          h4 Amount Spend
  hr
  // End page content
script.
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");
  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");
  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
  if (mySidebar.style.display === 'block') {
  mySidebar.style.display = 'none';
  overlayBg.style.display = "none";
  } else {
  mySidebar.style.display = 'block';
  overlayBg.style.display = "block";
  }
  }
  // Close the sidebar with the close button
  function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
  }</body></html>