<title>Dashboard</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  
  #table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table center {
    margin-left: auto; 
    margin-right: auto;
  }
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008B8B;
    color: white;
  }
  
</style>
<!--  Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4"><span class="w3-bar-item w3-left">Homifye</span></div>
<!--  Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" id="mySidebar" style="z-index:3;width:300px;"><br/>
  <div class="w3-container w3-row">
    <hr/>
    <div class="w3-bar-block"><a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" href="#" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a><a class="w3-bar-item w3-button w3-padding" href="index.pug"><i class="fa fa-bank fa-fw"></i> Dashboard</a><a class="w3-bar-item w3-button w3-padding w3-blue" href="homes-details.html"><i class="fa fa-home fa-fw"></i> Home Details</a><a class="w3-bar-item w3-button w3-padding" href="href"><i class="fa fa-users fa-fw"></i> Personal details</a><a class="w3-bar-item w3-button w3-padding" href="href"><i class="fa fa-eye fa-fw"></i> Chart Data</a></div>
  </div>
</nav>
<!--  Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" id="myOverlay" onclick="w3_close()" style="cursor:pointer" title="close side menu"></div>
<!--  !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">
  <!--  Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Dashboard</b></h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-home w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3>2</h3>
        </div>
        <div class="w3-clear"></div><a href="homes-details.html">
          <h4>Added Homes</h4></a>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-hourglass-half w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3>0</h3>
        </div>
        <div class="w3-clear"></div><a href="homes-details.html">
          <h4>Pending Tasks</h4></a>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-thumbs-up w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3>0</h3>
        </div>
        <div class="w3-clear"></div><a href="#">
          <h4>Finished Tasks</h4></a>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-gbp w3-xxlarge"></i></div>
        <div class="w3-right">
          <h3>0</h3>
        </div>
        <div class="w3-clear"></div><a href="#">
          <h4>Amount Spend</h4></a>
      </div>
    </div>
  </div>
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-twothird">
        <h5>HOMES</h5>
        <table id="table">
          <tbody>
            <tr>
              <th>Home Name</th>
              <th>Adress</th>
              <th>Admin</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr/>
  <!--  End page content -->
</div>
<script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");
  
  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");
  
  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }